﻿@using System.Web.DynamicData
@using Microsoft.Ajax.Utilities
@model  Giving_Your_Way.Models.OrganizationCatalogsViewModel
@{
	<div class="wrapper" style="width: 90%; margin: auto; padding-top: 50px;">

		<div class="organization-details" style="height: 160px;">
			@{
				var imageSrc = "../Images/5740405Icon.jpg";
				if (Model.CatalogOwnerDetails.Id == 5740405)
				{
					imageSrc = "../Images/5740405Icon.jpg";
				}
			}
			<img src="@imageSrc" style=" height: 140px;width: 170px; float: left;"/>
			<div class="details" style="float: left; padding-top: 16px;">
				<div class="name" ><span class="title" style="">Organization:</span> <span class="detail">@Model.CatalogOwnerDetails.Name</span>  </div>
				<div class="address"><span class="title">Address:</span> <span class="detail">@Model.CatalogOwnerDetails.Address</span> </div>
				@{ var url = Url.Action("organizations", "Landing", new {token = Request.Params["token"]});}
				<div class="change"><a style="display: block" href="@url">Change Organization</a></div>

			</div>
		</div>

		<div class="catalogs" style="width: 100%; margin: auto;">


			@foreach (var catalog in Model.Catalogs)
   {
				<div class="catalog">
					<div class="title" >
						@catalog.CatalogName
					</div>

					@{ var src = "http://sandbox.shopyourway.com/widgets/catalog/products?catalogId=" + catalog.CatalogId + "&background=#FFFFFF"; }
					<iframe marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="100%" height="416px" src="@src"></iframe>
				</div>
   }
		</div>
	</div>

}

<style>
	.organization-details .name, .organization-details .address, .organization-details .change {
		display: block;
		padding-top: 5px;
		/*float: left;*/
	}

	.organization-details .details .title {
		color: gray;
		font-size: 18px;
		font-weight: 600;
		margin-right: 8px;
		/*float: left;*/
	}

	.organization-details .details .detail {
		font-size: 18px;
		font-weight: 400;
		margin-right: 8px;
		/*float: left;*/
		color: gray;
	}

	.organization-details .change a {
		color: gray;
	}

	.catalogs {
		padding-top: 18px;
	}

	.catalog .title {
		font-size: 18px;
		font-weight: 600;
		color: gray;
		font-family: Helvetica;
		text-align: left;
		line-height: 24px;
		 font-size: 21px;
		  margin-bottom: 30px;

	}

</style>



