﻿@model  List<Giving_Your_Way.Models.UserViewModel>

@{ var url = Url.Action("Index", "Catalog", new { token = Request.Params["token"] });}


<div class="wrapper">
	<div class="descrption">
		Choose your prefered Organization 
	</div>

	<div class="organizations-list">
		@foreach (var org in Model)
  {
			<div class="organization">

				@{
	  var imageSrc = "../Images/5740405Icon.jpg";
	  if (org.Id == 5740405)
	  {
		  imageSrc = "../Images/5740405Icon.jpg";
	  }
	  else if (org.Id == 5740389)
	  {
		  imageSrc = "../Images/5740389Icon.jpg";
	  }
	  else if (org.Id == 5740388)
	  {
		  imageSrc = "../Images/5740388Icon.png";
	  }
	  else if (org.Id == 5740412)
	  {
		  imageSrc = "../Images/5740412Icon.jpg";
	  }
	  else if (org.Id == 5740387)
	  {
		  imageSrc = "../Images/5740387Icon.jpg";
	  }
	  else if (org.Id == 5740410)
	  {
		  imageSrc = "../Images/5740410Icon.jpg";
	  }
	  else if (org.Id == 5740413)
	  {
		  imageSrc = "../Images/5740413Icon.jpg";
	  }
				
				}

				<img src="@imageSrc"/>
			<div class="name">@org.Name</div>
				<a   href="@url" >
				<div class="select" style="background-image: url('../Images/select_bttn.png'); background-repeat: no-repeat;">
					</div>
						</a>

			</div>
  }



	</div>
</div>

<style>
	.wrapper {
		width: 40%;
		margin: auto;
		margin-top: 75px;
	}

	.descrption {
		color: gray;
		font-size: 24px;
		font-weight: 400;
		font-family: Helvetica;
	}

	.organizations-list {
		width: 100%;
		margin: auto;
		padding-top: 50px;
	}

		.organizations-list .organization {
			display: block;
			height: 100px;
			margin-bottom: 15px;
			display: block;
			height: 100px;
			margin-bottom: 15px;
			border: #E8E5FE;
			border-bottom-style: solid;
			border-width: 1px;
		}

			.organizations-list .organization img {
				height: 90px;
				width: 90px;
				float: left;
			}

			.organizations-list .organization .name {
				color: gray;
				font-size: 18px;
				font-weight: 600;
				margin-right: 8px;
				float: left;
				padding-top: 25px;
				margin-left: 26px;
			}

			.organizations-list .organization .select {
				float: right;
				margin-top: 22px;
				height: 43px;
				width: 115px;
				background-size: contain;
			}

				.organizations-list .organization .select a {
					height: 43px;
					width: 115px;
				}
</style>
